*{
    padding: 0;
    margin: 0;
}

label, input {
    display: block;
    line-height: 30px;
    height: 30px;
    font-size: 13pt;
    width: 100%;
}

form{
    width: 330px;
    background-color: lightblue;
    padding: 20px;
    margin: 30px auto;
}

button[type="submit"] {
    margin-top: 10px;
    text-align: right;
}

#forms1 {
    float: left;
    width: 35%;
    height: 500px;
}

table {
    background: aquamarine;
    width: 80%;
    margin: 30px auto;
}

#table1 {
    float: left;
    width: 65%;
    height: 500px;
}

tr {
    line-height: 30px;
}

#titulo1 {
    font-weight: bold;

}
td{
    padding: 0 5px;
}